@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/fonts';
@import 'base/reset';
@import 'base/container';
@import 'base/ui';

@import 'includes/header';
@import 'includes/footer';

@import 'components/popup';
@import 'components/breadcrumbs';
@import 'components/category-item';
@import 'components/seo';
@import 'components/catalog';
@import 'components/catalog-item';
@import 'components/products-item';
@import 'components/pagination';
@import 'components/additional-item';

@import 'pages/index';
@import "pages/products";
@import "pages/product";
