html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .4s;
}

body.overflow-hidden {
  overflow: hidden;
}

body b {
  font-weight: 700;
  color: inherit;
}

::-webkit-scrollbar {

}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
}




main {
  min-height: calc(max(calc(100vh - 614px), 350px));
  overflow: hidden;
}

.hide {
  display: none !important;
}

#page {
  position: relative;
  min-width: 360px;
  min-height: 100%;
  max-width: 100%;
  @include flexColumn;
}

#page::before {
  content: '';
}


section {
  position: relative;
}

li {
  list-style: none;
}

/////////////////////
/// INPUTS
/////////////////////

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}


input:focus,
input:focus-visible,
input:focus::after,
input:focus-visible::after {
  outline: none !important;
  box-shadow: none !important;
}

input {
  outline: none;
  border: 0;
}

/////////////////////
/// BUTTONS
/////////////////////

.btn {
  border-radius: 6px;
  @include flexCenterCenter;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  transition: $transition;
  width: fit-content;

  &.btn--default {
    background: $prime;
    color: $white;

    &:hover {
      background: $btn-hover;
    }

    &:active {
      background: $btn-active;
    }

    &:disabled {
      background: $grey-3;

    }
  }

  &.btn--transparent {
    background: transparent;
    border: 1px solid $prime;
    color: $prime;

    &:hover {
      background: transparent;
      color: $btn-hover;
    }

    &:active {
      background: transparent;
      color: $btn-active;
    }

    &:disabled {
      background: transparent;
      color: $grey-3;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}


/////////////////////
/// LINKS
/////////////////////
a {
  display: inline-block;
}

.link {
  color: $prime;
  transition: $transition;

  &:hover {
    text-decoration: underline;
  }
}


/////////////////////
/// ICONS
/////////////////////

.icon-wrapper {
  @include flexCenterCenter;
  @include iconWithBG;
   svg, img {
     flex-shrink: 0;
     width: 26px;
     height: 26px;
   }
}

/////////////////////
/// OTHERS
/////////////////////

section + section {
  margin-top: 48px;

  @include breakpoint(md) {
    margin-top: 64px;
  }

  @include breakpoint(lg) {
    margin-top: 96px;
  }
}


/////////////////////
/// CARDS & CATALOG
/////////////////////


/////////////////////
/// TYPOGRAPHY
/////////////////////

h1 {
  font-size: 28px;
  font-weight: 500;

  @include breakpoint(lg) {
    font-size: 36px;
  }

  @include breakpoint(xl) {
    font-size: 42px;
  }

  &.main-title {
    @include breakpoint(lg) {
      font-size: 32px;
    }

    @include breakpoint(xl) {
      font-size: 42px;
    }
  }
}

.logo {
  text-transform: uppercase;

  span {
    color: $prime;
    font-weight: 700;
  }
}

.phone {
  display: grid;
  a {
    color: $prime;
    transition: $transition;
    &:hover {
      color: $btn-hover;
    }
  }

  p {
    color: $grey;
  }
}

.section-title {
  font-size: 24px;
  margin-bottom: 24px;

  @include breakpoint(md) {
    margin-bottom: 32px;
  }

  @include breakpoint(lg) {
    font-size: 28px;
    margin-bottom: 48px;
  }

  @include breakpoint(xl) {
    font-size: 32px;
  }
}

.custom-list {
  margin-top: 24px;
  li {
    @include flexAlignCenter;
    gap: 16px;

    &:before {
      content: '';
      background: $prime;
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      display: block;
      border-radius: 50%;
    }

    & + li {
      margin-top: 16px;
    }
  }
}

p + p {
  margin-top: 20px;
}


/////////////////////
/// SWIPER SLIDER
/////////////////////