html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .4s;
}

body.overflow-hidden {
  overflow: hidden;
}

body b {
  font-weight: 700;
  color: inherit;
}

::-webkit-scrollbar {

}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
}


main {
  min-height: calc(max(calc(100vh - 614px), 350px));
  overflow: hidden;
}

.hide {
  display: none !important;
}

#page {
  position: relative;
  min-width: 360px;
  min-height: 100%;
  max-width: 100%;
  @include flexColumn;
}

#page::before {
  content: '';
}


section {
  position: relative;
}

li {
  list-style: none;
}

/////////////////////
/// INPUTS
/////////////////////

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  //border-radius: 0;
}


input:focus,
input:focus-visible,
input:focus::after,
input:focus-visible::after {
  outline: none !important;
  box-shadow: none !important;
}

input {
  outline: none;
  border: 0;
}

.input {
  border-radius: 6px;
  border: 2px solid $grey-3;
  background: $white;
  padding: 12px;
  width: 100%;

  @include breakpoint(xl) {
    padding: 18px 12px;
  }

  &::placeholder {
    color: $grey-3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    @include breakpoint(lg) {
      font-weight: 500;
    }
  }
}

.checkbox {
  position: relative;
  height: 20px;
  width: 20px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ span:after {
      display: block;
    }

    &:checked ~ span {
      background-color: $prime;
      border: 2px solid $prime;
    }
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $white;
    border: 2px solid $grey-3;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 11px;
      height: 17px;
      //border: solid white;
      //border-width: 0 3px 3px 0;
      //-webkit-transform: rotate(45deg);
      //-ms-transform: rotate(45deg);
      //transform: rotate(45deg);
      background: url("/assets/images/icon_check.svg") no-repeat center center;
    }
  }
}

/////////////////////
/// BUTTONS
/////////////////////

.btn {
  border-radius: 6px;
  @include flexCenterCenter;
  gap: 8px;
  flex-shrink: 0;
  cursor: pointer;
  transition: $transition;
  width: fit-content;

  &.btn--default {
    background: $prime;
    color: $white;

    &:hover {
      background: $btn-hover;
    }

    &:active {
      background: $btn-active;
    }

    &:disabled {
      background: $grey-3;

    }
  }

  &.btn--transparent {
    background: transparent;
    border: 1px solid $prime;
    color: $prime;

    &:hover {
      background: transparent;
      color: $btn-hover;
    }

    &:active {
      background: transparent;
      color: $btn-active;
    }

    &:disabled {
      background: transparent;
      color: $grey-3;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}


/////////////////////
/// LINKS
/////////////////////
a {
  display: inline-block;
}

.link {
  color: $prime;
  transition: $transition;

  &:hover {
    text-decoration: underline;
  }
}


/////////////////////
/// ICONS
/////////////////////

.icon-wrapper {
  @include flexCenterCenter;
  @include iconWithBG;

  svg, img {
    flex-shrink: 0;
    width: 26px;
    height: 26px;
  }
}

/////////////////////
/// OTHERS
/////////////////////

section + section {
  margin-top: 48px;

  @include breakpoint(md) {
    margin-top: 64px;
  }

  @include breakpoint(lg) {
    margin-top: 96px;
  }
}

/////////////////////
/// CARDS & CATALOG
/////////////////////

.section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 165px;
  gap: 10px;

  @include breakpoint(md) {
    grid-auto-rows: 275px;
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  @include breakpoint(xl) {
    grid-auto-rows: 385px;
  }
}


/////////////////////
/// TYPOGRAPHY
/////////////////////

h1 {
  font-size: 28px;
  font-weight: 500;

  @include breakpoint(lg) {
    font-size: 36px;
  }

  @include breakpoint(xl) {
    font-size: 42px;
  }

  &.main-title {
    @include breakpoint(lg) {
      font-size: 32px;
    }

    @include breakpoint(xl) {
      font-size: 42px;
    }
  }
}

.logo {
  text-transform: uppercase;

  span {
    color: $prime;
    font-weight: 700;
  }
}

.phone {
  display: grid;

  a {
    color: $prime;
    transition: $transition;

    &:hover {
      color: $btn-hover;
    }
  }

  p {
    color: $grey;
  }
}

.section-top {
  @include flexCenterBetween;
  margin-bottom: 24px;


  @include breakpoint(md) {
    margin-bottom: 32px;
  }

  @include breakpoint(lg) {
    margin-bottom: 48px;
  }

  .section-title {
    margin-bottom: 0;
  }
}

.section-title {
  font-size: 24px;
  margin-bottom: 24px;
  text-transform: uppercase;

  @include breakpoint(md) {
    margin-bottom: 32px;
  }

  @include breakpoint(lg) {
    font-size: 28px;
    margin-bottom: 48px;
  }

  @include breakpoint(xl) {
    font-size: 32px;
  }
}

.custom-list {
  margin-top: 24px;

  li {
    @include flexAlignCenter;


    span {
      font-size: 20px;
      font-weight: 500;
      margin-right: 0.5em;

      @include breakpoint(md) {
        font-size: 24px;
      }
    }

    &:before {
      content: '';
      background: $prime;
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      display: block;
      border-radius: 50%;
      margin-right: 16px;
    }

    & + li {
      margin-top: 16px;
    }
  }
}

p + p {
  margin-top: 20px;
}

ul + p {
  margin-top: 16px;

  @include breakpoint(xl) {
    margin-top: 24px;
  }
}


/////////////////////
/// SWIPER SLIDER
/////////////////////

.swiper-arrow-prev, .swiper-arrow-next {
  cursor: pointer;
  &.swiper-button-disabled {
    svg path {
      fill: $grey;
    }
  }
}