:root {
  --color-white: #fff;
  --color-prime: #60A22D;
  --color-black: #161616;
  --color-grey: #868686;
  --color-grey-2: #F5F5F5;
  --color-grey-3: #CECECE;
  --color-second-green: #F9FFF4;
  --color-telegram: #2198D3;
  --color-google-blue: #4285F4;
  --color-google-red: #EA4335;
  --color-google-yellow: #FBBC05;
  --color-button-hover: #528E23;
  --color-button-active: #3F7615;
  --color-popup-wrapper: rgba(0, 0, 0, 0.40);
  --transition-style: .3s ease;
}
$white: var(--color-white);
$prime: var(--color-prime);
$black: var(--color-black);
$grey: var(--color-grey);
$grey-2: var(--color-grey-2);
$grey-3: var(--color-grey-3);
$second-green: var(--color-second-green);
$telegram: var(--color-telegram);
$google-blue: var(--color-google-blue);
$google-red: var(--color-google-red);
$google-yellow: var(--color-google-yellow);
$btn-hover: var(--color-button-hover);
$btn-active: var(--color-button-active);
$popup-wrapper: var(--color-popup-wrapper);
$transition: var(--transition-style);


