.breadcrumbs {
  padding-top: 20px;
}

.breadcrumbs a {
  text-decoration: none;
}

.breadcrumbs-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow: unset;
}

.breadcrumbs-item {
  @include flexAlignCenter;
  font-family: $mainFont;
  font-style: normal;
  position: relative;
  white-space: nowrap;
  font-size: 14px;
  color: $grey;

  &:first-child {
    overflow: unset;
  }

  &:not(:last-child) {
    &::after {
      position: absolute;
      display: block;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      right: -24px;
      font-size: 16px;
      background: url("../images/icon_breadcrumbs-divider.svg");
      width: 18px;
      height: 18px;

    }
  }


}

//.breadcrumbs-separator {
//  color: $gray-text;
//  font-size: 16px;
//  font-style: normal;
//  font-weight: 500;
//  line-height: 130%;
//  margin: 0 12px;
//  @include breakpoint(md) {
//    margin: 0 8px;
//  }
//
//}

.breadcrumbs-item span {
  user-select: none;
}