.catalog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $grey-2;
  z-index: 10;
  padding: 20px 10px;
  overflow: auto;

  &.active {
    display: block;
  }

  &__inner {
    .breadcrumbs {
      padding-top: 22px;

      .container {
        padding: 0;
      }
    }
  }


  &__header {
    border-radius: 10px;
    background: $white;
    padding: 12px 10px;
    @include flexCenterBetween;

    .catalog__back-btn {
      width: 36px;
      height: 36px;
      @include flexCenterCenter;
      border-radius: 50%;
      background-color: $prime;
    }

    .catalog__logo {
      font-size: 28px;
    }

    .catalog__search {
      border-radius: 6px;
      background: $grey-2;
      @include flexCenterCenter;
      padding: 6px;

      .search__input {
        display: none;
      }
    }

  }

  &__title {
    font-size: 24px;
    margin-top: 22px;
  }

  &__items {
    padding: 18px;
    border-radius: 10px;
    background: $white;
  }
}