.category-item {
  border-radius: 10px;
  border: 1px solid $grey-3;
  background: $white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  display: grid;
  justify-items: center;
  position: relative;
  overflow: hidden;

  @include breakpoint(md) {
    border-radius: 20px;
  }

  @include breakpoint(xl) {
    border-radius: 40px;
  }


  &:after {
    content: 'Подробнее';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -100px;
    transform: translateY(100%);
    text-align: center;
    padding: 12px 0;
    transition: transform 0.5s;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    background: $prime;
    color: $white;

    @include breakpoint(md) {
      padding: 16px 0;
      font-size: 16px;
      border-radius: 0 0 20px 20px;
    }

    @include breakpoint(xl) {
      font-size: 24px;
      border-radius: 0 0 40px 40px;
      padding: 24px 0;
    }
  }

  &__image {
    scale: .9;
    max-width: 142px;
    height: auto;
    //max-height: 90px;
    align-self: flex-end;
    width: 50%;

    @include breakpoint(md) {
      max-width: 227px;
      //width: 50%;
    }

    @include breakpoint(lg) {
      max-width: 260px;
      width: 70%;
    }

    @include breakpoint(xl) {
      max-width: 352px;
    }

    img {
      object-fit: contain;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    align-self: flex-end;
    padding: 0 11px 12px;
    text-align: center;

    @include breakpoint(md) {
      font-size: 16px;
      padding-bottom: 16px;
    }

    @include breakpoint(xl) {
      font-size: 24px;
      padding-bottom: 24px;
    }
  }
}

.category-item:hover:after {
  transform: translateY(-100px);
}