.main {
  padding-top: 12px;

  @include breakpoint(md) {
    padding-top: 16px;
  }

  @include breakpoint(lg) {
    padding-top: 63px;
  }

  @include breakpoint(xl) {
    padding-top: 90px;
  }
}

.main__inner {
  display: grid;
  gap: 12px;
  text-align: center;

  @include breakpoint(md) {
    padding-top: 28px;
  }

  @include breakpoint(xl) {
    padding-top: 58px;
  }
}

.main__text {
  display: grid;
  gap: 12px;

  @include breakpoint(md) {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  @include breakpoint(xl) {
    top: -57px;
  }
}

.main__subtitle {
  font-weight: 400;
  @include breakpoint(md) {
    max-width: 602px;
    margin: 0 auto;
  }

  @include breakpoint(lg) {
    font-size: 20px;
    max-width: 735px;
  }

  @include breakpoint(xl) {
    font-size: 28px;
    max-width: 1035px;
  }
}

.main__button {
  padding: 10px 24px;
  justify-self: center;

  @include breakpoint(md) {
    padding: 14px 32px;
  }

  @include breakpoint(lg) {
    padding: 18px 48px;
  }
}

.main__image {
  position: relative;
  height: 246px;

  @include breakpoint(md) {
    height: 327px;
  }

  @include breakpoint(lg) {
    height: 461px;
  }

  @include breakpoint(xl) {
    height: 743px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FFF 7.5%, rgba(255, 255, 255, 0.00) 57%);
    pointer-events: none;
    z-index: 0;
  }

  img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .main__company {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 62.4px */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFF 53.69%, rgba(255, 255, 255, 0.00) 79.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include breakpoint(md) {
      font-size: 96px;
    }

    @include breakpoint(lg) {
      font-size: 160px;
    }

    @include breakpoint(xl) {
      font-size: 248px;
    }
  }
}

.about {

  &__inner {
    position: relative;
  }

  &__title {
    @include breakpoint(lg) {
      @include columCountMaxWidth(4);
    }
  }
}

.about__text {
  padding: 32px 16px;
  background: $grey-2;
  border-radius: 20px;
  margin-bottom: 16px;

  @include breakpoint(md) {
    padding: 32px;
  }

  @include breakpoint(lg) {
    padding: 48px 32px;
    @include columCountWidth(8);
  }

  &-title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  ul {
    @include breakpoint(md) {
      column-count: 2;
    }

  }
}

.about__image {
  border-radius: 20px;
  overflow: hidden;
  isolation: isolate;

  @include breakpoint(lg) {
    position: absolute;
    width: 580px;
    height: 360px;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.tents {
  &__grid {
    .category-item {
      &:nth-child(3) {
        @include breakpoint(lg) {
          grid-column: 3 / 5;
        }
      }

      &:nth-child(4) {
        @include breakpoint(lg) {
          grid-column: 1 / 3;
        }
      }
    }
  }
}


.advantages {
  &__inner {
    position: relative;
    height: 265px;

    @include breakpoint(md) {
      height: 530px;
    }

    @include breakpoint(lg) {
      height: 725px;
    }

    @include breakpoint(xl) {
      height: 1064px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__text {
    color: $white;
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    top: 24px;
    left: $container;
    z-index: 1;
    max-width: 290px;
    line-height: 120%;

    @include breakpoint(md) {
      top: 64px;
    }

    @include breakpoint(lg) {
      font-size: 28px;
      top: 96px;
    }

    @include breakpoint(xl) {
      font-size: 32px;
      left: calc((100vw - 1600px) / 2 + 18px);
      max-width: 385px;
    }
  }
}

.advantages__icon-items {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .icon-item {
    position: absolute;
    width: 24px;
    height: 24px;
    background: $white;
    border-radius: 50%;
    @include flexCenterCenter;
    transition: .4s ease;
    cursor: pointer;

    @include breakpoint(md) {
      width: 32px;
      height: 32px;
    }

    &.active {
      transform: rotate(45deg);
    }

    &:nth-child(1) {
      left: 28px;
      bottom: 59px;

      @include breakpoint(md) {
        left: 127px;
        bottom: 245px;
      }

      @include breakpoint(lg) {
        left: 230px;
        bottom: 231px;
      }

      @include breakpoint(xl) {
        left: calc(((100vw - 1600px) / 2) + 168px);
        bottom: 342px;
      }
    }

    &:nth-child(2) {
      left: 127px;
      top: 104px;

      @include breakpoint(md) {
        left: 297px;
        top: 132px;
      }

      @include breakpoint(lg) {
        left: 427px;
        top: 149px;
      }

      @include breakpoint(xl) {
        top: 191px;
        left: calc(((100vw - 1600px) / 2) + 622px);
      }
    }

    &:nth-child(3) {
      top: 96px;
      right: 64px;

      @include breakpoint(md) {
        top: 140px;
        right: 149px;
      }

      @include breakpoint(lg) {
        top: 205px;
        right: 243px;
      }

      @include breakpoint(xl) {
        top: 331px;
        right: calc(((100vw - 1600px) / 2) + 243px);
      }
    }

    &:nth-child(4) {
      right: 44px;
      bottom: 71px;

      @include breakpoint(md) {
        right: 100px;
        bottom: 173px;
      }

      @include breakpoint(lg) {
        right: 168px;
        bottom: 231px;
      }

      @include breakpoint(xl) {
        bottom: 280px;
        right: calc(((100vw - 1600px) / 2) + 129px);
      }
    }
  }
}

.advantages__card-items {

  .card-item {
    max-height: 0;
    overflow: hidden;
    transition: .4s ease-in-out;
    padding: 0 10px 0;
    display: grid;
    gap: 12px;

    @include breakpoint(md) {
      border-radius: 10px;
      background: $white;
      padding: 0 12px 0;
      position: absolute;
      opacity: 0;
      left: 10px;
      top: 337px;
      width: 266px;
      height: fit-content;
    }

    &:nth-child(1) {
      @include breakpoint(lg) {
        top: 514px;
        left: 118px;
      }

      @include breakpoint(xl) {
        top: 742px;
        left: calc(((100vw - 1600px) / 2) + 53px);
      }
    }

    &:nth-child(2) {
      @include breakpoint(lg) {
        top: 201px;
        left: 315px;
      }

      @include breakpoint(xl) {
        top: 243px;
        left: calc(((100vw - 1600px) / 2) + 504px);
      }
    }

    &:nth-child(3) {
      @include breakpoint(lg) {
        top: 257px;
        right: 122px;
        left: unset;
      }

      @include breakpoint(xl) {
        top: 383px;
        right: calc(((100vw - 1600px) / 2) + 115px);
      }
    }

    &:nth-child(4) {
      @include breakpoint(lg) {
        top: 514px;
        right: 46px;
        left: unset;
      }

      @include breakpoint(xl) {
        top: 804px;
        right: calc(((100vw - 1600px) / 2) + 3px);
      }
    }

    &__title {
      font-size: 18px;
    }

    &__description {
      font-weight: 400;

      @include breakpoint(md) {
        font-size: 16px;
      }
    }

    &.active {
      max-height: 228px;
      padding-top: 48px;

      @include breakpoint(md) {
        padding: 12px;
        opacity: 1;
      }

      @include breakpoint(xl) {
        padding: 16px 28px;
      }
    }
  }
}


.furniture {
  &__grid {
    .category-item {
      &:nth-child(1) {
        @include breakpoint(lg) {
          grid-column: 1 / 3;
        }
      }

      &:nth-child(6) {
        @include breakpoint(lg) {
          grid-column: 3 / 5;
        }
      }
    }
  }
}

.catering {

  &__inner {

    .catering__top {
      @include flexCenterBetween;

      .catering__title {
        max-width: 520px;
      }

      .swiper-arrows {
        display: none;

        @include breakpoint(lg) {
          @include flexAlignCenter;
          gap: 12px;
        }
      }
    }
  }

  &__content {
    overflow: hidden;
    @include breakpoint(lg) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
    }

    @include breakpoint(xl) {
      gap: 156px;
    }

    .catering__text {
      @include breakpoint(lg) {
        max-width: 519px;
        flex-shrink: 0;
      }
    }

    .catering__image-slider.swiper {

    }
  }


  .catering__buttons {
    margin-top: 24px;
    margin-bottom: 32px;
    display: grid;
    gap: 16px;
    justify-items: center;

    @include breakpoint(md) {
      @include flexCenterCenter;
    }

    a.btn {
      padding: 14px 32px;
      width: 203px;

      @include breakpoint(md) {
        width: unset;
      }
    }
  }

  &__image-slider.swiper {
    @include breakpoint(lg) {
      width: 100%;
    }

    .swiper-wrapper {

      .swiper-slide {
        height: 240px;
        border-radius: 10px;
        cursor: grab;

        @include breakpoint(lg) {
          height: 326px;
        }
      }
    }
  }
}

.works {
  &__inner {
    display: grid;

    a.link {
      justify-self: center;
      margin-top: 34px;

      @include breakpoint(md) {
        display: none;
      }
    }
  }

  &__top {
    a.link {
      display: none;

      @include breakpoint(md) {
        display: block;
        margin-top: 0;
      }
    }
  }
}

.works__outer-slider {
  position: relative;
  border-radius: 30px;
  background: $grey-2;
  padding: 24px 12px;
  display: grid;
  justify-items: center;
  grid-template-columns: minmax(0, 1fr);

  @include breakpoint(md) {
    padding: 42px 24px 32px;
  }

  @include breakpoint(lg) {
    padding: 32px;
    border-radius: 40px;
  }

  @include breakpoint(xl) {
    padding: 32px 64px;
  }

  .swiper-arrows {
    position: absolute;
    @include flexAlignCenter;
    gap: 28px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 83px;
    z-index: 2;
    @include breakpoint(md) {
      right: 24px;
      top: 56px;
      left: unset;
      transform: translate(0, -50%);
    }

    @include breakpoint(lg) {
      right: 32px;
    }

    @include breakpoint(xl) {
      right: 64px;
    }
  }
}

.works__items {
  width: 100%;
}

.works__item {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 66px;
  overflow: hidden;
  grid-auto-rows: min-content;

  @include breakpoint(md) {
    gap: 42px;
  }

  @include breakpoint(lg) {
    gap: 34px;
  }

  &-title {
    font-size: 24px;
    max-height: min-content;
    justify-self: center;

    @include breakpoint(md) {
      justify-self: unset;
    }

    @include breakpoint(lg) {
      display: none;

    }
  }

  &-content {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(0, 1fr);

    @include breakpoint(lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @include breakpoint(lg) {
      gap: 48px;
    }

    &-images {
      height: 220px;
      position: relative;

      @include breakpoint(md) {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 390px 108px;
        height: 100%;
        gap: 24px;
      }

      @include breakpoint(lg) {
        grid-template-rows: 390px 80px;
      }

      @include breakpoint(xl) {
        grid-template-rows: 390px 98px;
      }

      .swiper-arrows {
        @include flexCenterBetween;
        position: absolute;
        width: 100%;
        top: 50%;
        pointer-events: none;


        @include breakpoint(md) {
          top: 195px;
          transform: translateY(-50%);
          left: 0;
        }

        .swiper-arrow-prev, .swiper-arrow-next {
          width: 32px;
          height: 32px;
          background-color: $prime;
          @include flexCenterCenter;
          border-radius: 50%;
          pointer-events: visible;
          position: absolute;
        }

        .swiper-arrow-prev {
          left: 6px;

          @include breakpoint(md) {
            left: 15px;
          }
        }

        .swiper-arrow-next {
          right: 6px;
          @include breakpoint(md) {
            right: 15px;
          }
        }
      }

      .main-slider.swiper {
        height: 100%;
        width: 100%;

        .swiper-slide {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          max-width: 100%;
          cursor: zoom-in;
        }
      }

      .thumbs-slider.swiper {
        display: none;
        width: 100%;

        @include breakpoint(md) {
          display: block;
        }

        .swiper-slide {
          border-radius: 10px;
          cursor: pointer;

          &.swiper-slide-thumb-active {
            border: 2px solid $prime;
          }
        }
      }
    }

    &-text {
      display: grid;
      grid-auto-rows: min-content;

      .works__item-title {
        display: none;
        order: 1;

        @include breakpoint(lg) {
          display: block;
          margin-bottom: 10px;
        }
      }

      ul {
        order: 2;
      }

      p {
        order: 3;
      }

      a.btn {
        padding: 10px 24px;
        justify-self: center;
        margin-top: 24px;
        order: 4;

        @include breakpoint(md) {
          padding: 14px 32px;
        }

        @include breakpoint(lg) {
          padding: 18px 48px;
          justify-self: unset;
        }
      }
    }
  }
}

.feedback {

  &__inner {
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }

    @include breakpoint(xl) {
      grid-template-columns: 1fr 746px;
    }
  }

  &__form {
    border-radius: 20px;
    background: $grey-2;
    padding: 24px 10px;
    display: grid;
    gap: 12px;

    @include breakpoint(md) {
      border-radius: 20px 0 0 20px;
      padding: 24px 12px;
      gap: 0;
    }

    @include breakpoint(lg) {
      padding: 35px 32px;
      border-radius: 40px 0 0 40px;
    }

    @include breakpoint(xl) {
      padding: 49px 64px;
    }
  }

  form {
    display: grid;
    gap: 12px;

    @include breakpoint(md) {
      gap: 0;
    }

    @include breakpoint(lg) {
      max-width: 440px;
    }
  }

  &__title {
    margin-bottom: 0;

    @include breakpoint(md) {
      margin-bottom: 6px;
    }

    @include breakpoint(lg) {
      max-width: 440px;
      margin-bottom: 12px;
    }

    @include breakpoint(xl) {
      max-width: unset;
    }

  }

  &__subtitle {
    margin-bottom: 12px;

    @include breakpoint(lg) {
      max-width: 440px;
      margin-bottom: 30px;
    }

    @include breakpoint(xl) {
      max-width: 591px;
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__input {

    & + .feedback__input {
      @include breakpoint(md) {
        margin-top: 6px;
      }

      @include breakpoint(lg) {
        margin-top: 12px;
      }
    }
  }

  &__agree {
    margin-top: 4px;
    @include flexAlignCenter;
    gap: 14px;
    margin-bottom: 4px;

    @include breakpoint(md) {
      margin: 12px 0;
    }

    span {
      display: inline-block;
      cursor: pointer;
    }

    a {
      display: inline;
    }

  }

  &__button {
    justify-self: center;

    @include breakpoint(md) {
      justify-self: unset;
    }

    a.btn {
      padding: 10px 24px;

      @include breakpoint(md) {
        padding: 12px 32px;
      }

      @include breakpoint(lg) {
        padding: 18px 48px;
      }
    }
  }

  &__image {
    display: none;
    @include breakpoint(md) {
      display: block;
      border-radius: 0 20px 20px 0;
      overflow: hidden;
      isolation: isolate;
    }

    @include breakpoint(lg) {
      border-radius: 0 40px 40px 0;
    }

  }
}
