.product {

}

.product__card {

  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: minmax(0, 6fr) 5fr;
    gap: 118px;
    margin-bottom: 32px;
  }

  @include breakpoint(xl) {
    gap: 155px;
  }

  &-images {
    width: 100%;

    .main-slider.swiper {
      width: 100%;
      position: relative;


      @include breakpoint(md) {
        display: flex;
        justify-content: center;
      }

      .swiper-arrows {
        display: none;
        cursor: pointer;
        @include breakpoint(md) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          width: calc(100% - 17px * 2);
          pointer-events: none;
          @include flexCenterBetween;
        }

        @include breakpoint(xl) {
          width: calc(100% - 24px * 2)
        }

        .swiper-arrow-prev, .swiper-arrow-next {
          width: 32px;
          height: 32px;
          background-color: $prime;
          @include flexCenterCenter;
          border-radius: 50%;
          pointer-events: auto;

          @include breakpoint(xl) {
            width: 46px;
            height: 46px;
          }
        }
      }

      .swiper-slide {
        width: 100%;
        height: 214px;
        border-radius: 10px;
        cursor: zoom-in;

        @include breakpoint(md) {
          height: 544px;
          border-radius: 20px;
        }

        @include breakpoint(lg) {
          height: 570px;
        }

        @include breakpoint(xl) {
          height: 600px;
          border-radius: 40px;
        }
      }
    }

    .thumbs-slider.swiper {
      display: none;
      @include breakpoint(md) {
        display: block;
        margin-top: 16px;
      }

      @include breakpoint(xl) {
        margin-top: 24px;
      }


      .swiper-slide {
        border-radius: 6px;
        height: 90px;
        cursor: pointer;

        @include breakpoint(lg) {
          height: 72px;
        }

        @include breakpoint(xl) {
          height: 100px;
          border-radius: 10px;
        }

        &-thumb-active {
          border: 2px solid $prime;
        }
      }
    }
  }
}

.product__card-details {
  display: grid;
  margin: 32px 0;
  grid-auto-rows: fit-content(100%);

  @include breakpoint(lg) {
    margin: 0;
  }

  .details__title {
    font-size: 24px;
    margin-bottom: 16px;

    @include breakpoint(lg) {
      font-size: 28px;
    }

    @include breakpoint(xl) {
      font-size: 32px;
    }
  }

  .details__items {
    display: grid;
    gap: 8px;
    margin-bottom: 24px;

    @include breakpoint(md) {
      gap: 12px;
    }

    @include breakpoint(lg) {
      margin-bottom: 32px;
    }
  }

  .details__item {
    display: flex;

    .item__name {
      margin-right: 4px;
    }
  }

  .details__price {
    display: grid;
    gap: 6px;

    p {
      span {
        font-size: 20px;

        @include breakpoint(lg) {
          font-size: 24px;
        }
      }

      &:first-child {
        span {
          color: $prime;
        }
      }

      &:last-child {
        margin-top: 0;
      }
    }
  }

  .details__button {
    margin-top: 24px;
    justify-self: center;

    @include breakpoint(lg) {
      justify-self: flex-start;
      margin-top: 32px;
    }

    a.btn {
      padding: 10px 24px;

      @include breakpoint(md) {
        padding: 14px 32px;
      }

      @include breakpoint(lg) {
        padding: 18px 48px;
      }
    }
  }
}

.product__about {
  margin-bottom: 72px;

  @include breakpoint(md) {
    margin-bottom: 96px;
  }

  @include breakpoint(lg) {
    margin-bottom: 144px;
  }

  @include breakpoint(lg) {
    @include columCountMaxWidth(6)
  }
  &-title {
    margin-bottom: 16px;
  }

  &-description {
    font-weight: 400;
  }
}

section.additional {
  .additional__title {
    text-align: center;
  }

  .additional__filter {
    @include flexAlignCenter;
    gap: 6px;
    flex-wrap: nowrap;
    padding-bottom: 12px;
    overflow-x: auto;
    margin-bottom: 32px;

    @include breakpoint(md) {
      gap: 12px;
    }

    @include breakpoint(lg) {
      flex-wrap: wrap;
      row-gap: 12px;
      justify-content: center;
      padding: 0 87px;
    }

    @include breakpoint(xl) {
      gap: 31px;
      padding: 0;
    }

    .filter__item {
      color: $grey;
      padding: 10px 24px;
      @include flexCenterCenter;
      border-radius: 6px;
      border: 1px solid $grey;
      transition: $transition;
      cursor: pointer;

      &:hover {
        border: 1px solid $prime;
        background: $second-green;
        color: $prime;
      }

      @include breakpoint(md) {
        padding: 14px 32px;
      }

      @include breakpoint(lg) {
        padding: 18px 12px;
      }

      @include breakpoint(xl) {
        padding: 18px 24px;
      }

      &.active {
        border: 1px solid $prime;
        background: $second-green;
        color: $prime;
      }

      span {
        text-wrap: nowrap;
      }
    }
  }
}

.additional__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 32px;

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(6, 1fr);
  }
}
