.products {
  &__grid {
    display: grid;
    gap: 10px;

    @include breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @include breakpoint(xl) {
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
    }
  }
}