include ../includes/_mixins

.additional__item
    .additional__item-image
        +img('additional.jpg')
    .additional__item-title Искусственная трава
    .additional__item-price
        p <span>450 ₽</span> / за м2
    a(href='javascript:void(0)').additional__item-button.btn.btn--default Подробнее


