mixin category-item(section, title, index)
    a(href='javascript:void(0)').category-item
        .category-item__image
            +img(`${section}-${index + 1}.jpg`)
        .category-item__text=title