.pagination
    .pagination__arrow-prev.pagination__arrow
        include ../assets/images/icon_arrow-triangle-left.svg
    .pagination__items
        .pagination-item.active 1
        .pagination-item 2
        .pagination-item 3
        .pagination-item 4
    .pagination__arrow-next.pagination__arrow
        include ../assets/images/icon_arrow-triangle-right.svg
