include ../includes/_mixins
block popups

    // ПОПАП "ОСТАВИТЬ ЗАЯВКУ"
    #popup-request.popup
        .popup__title Заявка на обратный звонок!
        .popup__request-form
            .popup__inputs
                .popup__input
                    input(type='text' placeholder='Ваше имя').input
                .popup__input.phone-mask
                    input(type='text' placeholder='+7 (999) 999-99-99').input
                .popup__input
                    textarea(placeholder='Комментарий').input
                .popup__checkbox
                    label.checkbox
                        input(type='checkbox')
                        span
                    span cоглашаюсь с&nbsp;
                        a(href='javascript:void(0)').link политикой конфиденциальности
            .button
                a.btn.btn--default(data-fancybox data-src='#popup-success-request') Оставить заявку

    // ПОПАП "УСПЕШНО - ОБРАТНЫЙ ЗВОНОК"
    #popup-success-request.popup.popup-success
        .popup-success__content
            .popup__image
                include ../assets/images/icon_check.svg
            .popup__text Спасибо за оставленную заявку, в ближайшее время наш специалист свяжется с вами