include ../includes/_mixins

.products-item
    .products-item__image
        +img('product-image.jpg')
    .products-item__details
        .products-item__name Шатер Пагодо 2х2 Шатер Пагодо 2х2 Шатер Пагодо 2х2 Шатер Пагодо 2х2 Шатер Пагодо 2х2 Шатер Пагодо 2х2
        .products-item__price
            p <span>6500 ₽</span> / за день
            p <span>3000 ₽</span> / за день
        a(href='product.html').btn.btn--default Подробнее