include ../includes/_mixins

section.seo
    .container
        .seo__title.section-title СЕО текст
        .seo__inner
            .seo__content
                .seo__content-text
                    p Аренда шатров Пагода в Казани для вашего мероприятия предлагается компанией SUPER EVENT. Стильные быстровозводимые шатры Пагода, с их экзотическими восточными формами, представлены в различных вариантах исполнения площадью от 4 до 100 кв. м. Наши специалисты готовы установить сказочный терем в любом указанном вами месте. Аренда шатров Пагода предоставляется на любой срок. Круглосуточная консультационная поддержка от наших менеджеров в процессе реализации проектов.
                    p Аренда арочных шатров в Казани от компании SUPER EVENT включает в себя доставку, монтаж и обслуживание конструкции. 5 лет работы на рынке - сотни успешно реализованных проектов различной сложности. В нашем ассортименте имеется шатер арочного типа без боковых стенок, который идеально подойдет для проведения мероприятия на открытом воздухе в теплое время года. А если торжество намечено на прохладный день, то вы можете взять у нас в аренду закрытую со всех сторон конструкцию. К вашим услугам профессиональные монтажные бригады и круглосуточная консультационная поддержка.
                a(href='javascript:void(0)').seo__more-btn.link#moreBtn подробнее
            .seo__images
                +img('seo_image-1.jpg')
                +img('seo_image-2.jpg')
