include ../includes/_mixins

.works__item-component
    .works__item-image
        +img('works-1.jpg')
    .works__item-title Название мероприятия
    .works__item-details
        ul.custom-list
            li <span>4 </span>арочных шатра
            li <span>7 </span>шатров пагода
            li <span>74 </span>круглых стола со стульями
            li <span>5 </span>палаток с едой
    a(href='work.html').works__item-button.btn.btn--default Подробнее

