---
title: 'Страница | Главная'
bodyClass: main-page
//yandexMap: true
---

extends includes/_page

block main
    section.main
        .main__inner
            .container
                .main__text
                    h1.main__title.main-title АРЕНДА ШАТРОВ НА ВАШЕ МЕРОПРИЯТИЕ
                    .main__subtitle Предоставляем в аренду шатры разных форматов и все необходимое оборудование под реализациию вашего мероприятия
                    a(href='javascript:void(0)').main__button.btn.btn--default Оставить заявку
            .main__image
                +img('main.jpg')
                .main__company supertent

    section.about
        .container
            .about__inner
                .about__title.section-title МЫ ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА
                .about__text
                    .about__text-title О нашей компании
                    .about__text-details
                        p SUPERTENT — ваш надежный партнер в аренде шатров в Казани! Создайте незабываемое событие с нашими стильными и качественными шатрами. Независимо от того, нужен ли вам шатер для свадьбы, корпоративного мероприятия или фестиваля, SUPERTENT предоставит вам идеальное решение.
                        p SUPERTENT — ваш надежный партнер в аренде шатров в Казани! Создайте незабываемое событие с нашими стильными и качественными шатрами. Независимо от того, нужен ли вам шатер для свадьбы, корпоративного мероприятия или фестиваля, SUPERTENT предоставит вам идеальное решение.
                        ul.custom-list
                            li тут можно написать тезисно преимущества
                            li тут можно написать тезисно преимущества
                            li тут можно написать тезисно преимущества
                            li тут можно написать тезисно преимущества
                .about__image
                    +img('about.jpg')

    section.tents
        .container
            .tents__inner
                .tents__top
                    .tents__title.section-title ШАТРЫ
                    a(href='javascript:void(0)').link все виды шатров
                .tents__grid
                    a(href='javascript:void(0)').tents__item-card
                        .item-card__image
                            +img('tents-1.jpg')
                        .item__card__text Арочные
                        .card-info.btn.btn--default Подробнее
                    a(href='javascript:void(0)').tents__item-card
                        .item-card__image
                            +img('tents-2.jpg')
                        .item__card__text Быстросборные
                        .card-info.btn.btn--default Подробнее
                    a(href='javascript:void(0)').tents__item-card
                        .item-card__image
                            +img('tents-3.jpg')
                        .item__card__text Большие
                        .card-info.btn.btn--default Подробнее
                    a(href='javascript:void(0)').tents__item-card
                        .item-card__image
                            +img('tents-4.jpg')
                        .item__card__text Деревянные
                        .card-info.btn.btn--default Подробнее
                    a(href='javascript:void(0)').tents__item-card
                        .item-card__image
                            +img('tents-5.jpg')
                        .item__card__text Сферические
                        .card-info.btn.btn--default Подробнее
                    a(href='javascript:void(0)').tents__item-card
                        .item-card__image
                            +img('tents-6.jpg')
                        .item__card__text Павильоны
                        .card-info.btn.btn--default Подробнее

    section.advantages
            .advantages__inner
                .advantages__text Преимущества работы с нами
                .advantages__image
                    picture
                        source(srcset="assets/images/advantages_1920.jpg", media="(min-width: 1600px)")
                        source(srcset="assets/images/advantages_1200.jpg", media="(min-width: 1200px)")
                        +img('advantages.jpg')
                .advantages__icon-items
                    .icon-item.active(data-tab='speed')
                        +img('icon_plus.svg')
                    .icon-item(data-tab='experience')
                        +img('icon_plus.svg')
                    .icon-item(data-tab='reliability')
                        +img('icon_plus.svg')
                    .icon-item(data-tab='quality')
                        +img('icon_plus.svg')
            .advantages__card-items
                .card-item.active#speed
                    .card-item__title 1/4 СКОРОСТЬ
                    .card-item__description Принимаем заказы в сжатые сроки и реализовываем их на высоком уровне
                .card-item#experience
                    .card-item__title 2/4 ОПЫТ
                    .card-item__description Штатные бригады состоят из профессионалов своего дела за плечами которых с десяток площадок различной сложности
                .card-item#reliability
                    .card-item__title 3/4 НАДЕЖНОСТЬ
                    .card-item__description Мы ценим доверие и время наших клиентов
                .card-item#quality
                    .card-item__title 4/4 КАЧЕСТВО
                    .card-item__description Мы тщательно следим за состоянием наших конструкций и оборудования








            