---
title: 'Страница | Главная'
bodyClass: main-page
//yandexMap: true
---

extends includes/_page
include components/_category-item

block main
    section.main
        .main__inner
            .container
                .main__text
                    h1.main__title.main-title АРЕНДА ШАТРОВ НА ВАШЕ МЕРОПРИЯТИЕ
                    .main__subtitle Предоставляем в аренду шатры разных форматов и все необходимое оборудование под реализациию вашего мероприятия
                    a(href='javascript:void(0)').main__button.btn.btn--default Оставить заявку
            .main__image
                +img('main.jpg')
                .main__company supertent

    section.about
        .container
            .about__inner
                .about__title.section-title МЫ ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА
                .about__text
                    .about__text-title О нашей компании
                    .about__text-details
                        p SUPERTENT — ваш надежный партнер в аренде шатров в Казани! Создайте незабываемое событие с нашими стильными и качественными шатрами. Независимо от того, нужен ли вам шатер для свадьбы, корпоративного мероприятия или фестиваля, SUPERTENT предоставит вам идеальное решение.
                        p SUPERTENT — ваш надежный партнер в аренде шатров в Казани! Создайте незабываемое событие с нашими стильными и качественными шатрами. Независимо от того, нужен ли вам шатер для свадьбы, корпоративного мероприятия или фестиваля, SUPERTENT предоставит вам идеальное решение.
                        ul.custom-list
                            li тут можно написать тезисно преимущества
                            li тут можно написать тезисно преимущества
                            li тут можно написать тезисно преимущества
                            li тут можно написать тезисно преимущества
                .about__image
                    +img('about.jpg')

    section.tents
        .container
            .tents__inner
                .tents__top.section-top
                    .tents__title.section-title ШАТРЫ
                    a(href='javascript:void(0)').link все виды шатров
                .tents__grid.section-grid
                    -
                        var tentCategoryItems = [
                            {title: 'Арочные'},
                            {title: 'Быстросборные'},
                            {title: 'Большие'},
                            {title: 'Деревянные'},
                            {title: 'Сферические'},
                            {title: 'Павильоны'},
                        ]

                    each tentCategoryItem, index in tentCategoryItems
                        +category-item('tents', tentCategoryItem.title, index)



    section.advantages
        .advantages__inner
            .advantages__text Преимущества работы с нами
            .advantages__image
                picture
                    source(srcset="assets/images/advantages_1920.jpg", media="(min-width: 1600px)")
                    source(srcset="assets/images/advantages_1200.jpg", media="(min-width: 1200px)")
                    +img('advantages.jpg')
            .advantages__icon-items
                .icon-item.active(data-tab='speed')
                    +img('icon_plus.svg')
                .icon-item(data-tab='experience')
                    +img('icon_plus.svg')
                .icon-item(data-tab='reliability')
                    +img('icon_plus.svg')
                .icon-item(data-tab='quality')
                    +img('icon_plus.svg')
        .advantages__card-items
            .card-item.active#speed
                .card-item__title 1/4 СКОРОСТЬ
                .card-item__description Принимаем заказы в сжатые сроки и реализовываем их на высоком уровне
            .card-item#experience
                .card-item__title 2/4 ОПЫТ
                .card-item__description Штатные бригады состоят из профессионалов своего дела за плечами которых с десяток площадок различной сложности
            .card-item#reliability
                .card-item__title 3/4 НАДЕЖНОСТЬ
                .card-item__description Мы ценим доверие и время наших клиентов
            .card-item#quality
                .card-item__title 4/4 КАЧЕСТВО
                .card-item__description Мы тщательно следим за состоянием наших конструкций и оборудования

    section.furniture
        .container
            .furniture__inner
                .furniture__top.section-top
                    .furniture__title.section-title МЕБЕЛЬ
                    a(href='javascript:void(0)').link все виды мебели
                .furniture__grid.section-grid
                    -
                        var furnitureCategoryItems = [
                            {title: 'Диваны'},
                            {title: 'Стулья'},
                            {title: 'Столы'},
                            {title: 'Кресла'},
                            {title: 'Уличная мебель'},
                            {title: 'Столы из ротанга'},
                        ]

                    each furnitureCategoryItem, index in furnitureCategoryItems
                        +category-item('furniture', furnitureCategoryItem.title, index)
    section.scenes
        .container
            .scenes__inner
                .scenes__title.section-title СЦЕНЫ И ПОДИУМЫ
                .scenes__grid.section-grid
                    -
                        var scenesCategoryItems = [
                            {title: 'Двускатная сцена'},
                            {title: 'Односкатная сцена'},
                            {title: 'Подиум со ступенями'},
                            {title: 'Подиум'},
                        ]

                    each scenesCategoryItem, index in scenesCategoryItems
                        +category-item('scenes', scenesCategoryItem.title, index)
    section.equipment
        .container
            .equipment__inner
                .equipment__top
                    .equipment__title.section-title ОБОРУДОВАНИЕ
                .equipment__grid.section-grid
                    -
                        var equipmentCategoryItems = [
                            {title: 'Экраны и видео'},
                            {title: 'Звуковое оборудование'},
                            {title: 'Световое оборудование'},
                            {title: 'Техническое оборудование'},
                        ];

                    each equipmentCategoryItem, index in equipmentCategoryItems
                        +category-item('equipment', equipmentCategoryItem.title, index)

    section.catering
        .container
            .catering__inner
                .catering__top.section-top
                    .catering__title.section-title кейтеринг для вашего мероприятия
                    .swiper-arrows
                        .swiper-arrow-prev
                            include assets/images/icon_arrow-left.svg
                        .swiper-arrow-next
                            include assets/images/icon_arrow-right.svg
                .catering__content
                    .catering__text
                        p Вы можете заказать полную организацию и проведение мероприятия, которая включает в себя дизайн, флористическое оформление и ресторанное обслуживание с сервировкой столов и официантами
                        ul.custom-list
                            li разнообразие блюд любой кухни мира с учетом предпочтений и возможных пищевых ограничений.
                            li есть мечта провести мероприятие в особенном месте? Организуем его в любой точке мира и локации.
                        .catering__buttons
                            a(href='javascript:void(0)').btn.btn--default Оставить заявку
                            a(href='javascript:void(0)').btn.btn--transparent Подробнее
                    .catering__image-slider.swiper
                        .swiper-wrapper
                            .swiper-slide
                                +img('catering-1.jpg')
                            .swiper-slide
                                +img('catering-2.jpg')
                            .swiper-slide
                                +img('catering-3.jpg')

    section.works
        .container
            .works__inner
                .works__top.section-top
                    .works__title.section-title Наши работы
                    a(href='javascript:void(0)').link посмотреть все проекты
                .works__outer-slider.swiper
                    .swiper-arrows
                        .swiper-arrow-prev
                            include assets/images/icon_arrow-left.svg
                        .swiper-arrow-next
                            include assets/images/icon_arrow-right.svg
                    .works__items.swiper-wrapper
                        .works__item.swiper-slide
                            .works__item-title Мероприятие 1
                            .works__item-content
                                .works__item-content-images
                                    .swiper-arrows
                                        .swiper-arrow-prev
                                            include assets/images/icon_arrow-triangle-left.svg
                                        .swiper-arrow-next
                                            include assets/images/icon_arrow-triangle-right.svg
                                    .main-slider.swiper
                                        .swiper-wrapper
                                            .swiper-slide(data-fancybox='gallery' data-src='assets/images/works-1.jpg')
                                                +img('works-1.jpg')
                                            .swiper-slide(data-fancybox='gallery' data-src='assets/images/works-2.jpg')
                                                +img('works-2.jpg')
                                            .swiper-slide(data-fancybox='gallery' data-src='assets/images/works-3.jpg')
                                                +img('works-3.jpg')
                                            .swiper-slide(data-fancybox='gallery' data-src='assets/images/works-4.jpg')
                                                +img('works-4.jpg')
                                    .thumbs-slider.swiper
                                        .swiper-wrapper
                                            .swiper-slide
                                                +img('works-1.jpg')
                                            .swiper-slide
                                                +img('works-2.jpg')
                                            .swiper-slide
                                                +img('works-3.jpg')
                                            .swiper-slide
                                                +img('works-4.jpg')

                                .works__item-content-text
                                    ul.custom-list
                                        li <span>4</span> арочных шатра
                                        li <span>7</span> шатров пагода
                                        li <span>74</span> круглых столов со стульями
                                        li <span>5</span> палаток с едой
                                    p Лето 2022 года было богато на свадьбы. За период с 20 мая по 20 сентября в Москве прошло 38 свадеб, в которых наша компания непосредственно принимала участие.
                                        | Из года в год их организация становится все креативнее и требовательнее по запросам к организации. Особенно популярным вариантом празднования свадеб и регистраций стал вариант их проведения на открытом воздухе среди природы. К счастью, ассортимент нашей компании позволяет соответствовать всем запросам клиентов и на каждую свадьбу, от маленькой до большой, у нас есть оборудование.
                                    a(href='javascript:void(0)').btn.btn--default Подробнее
                        .works__item.swiper-slide
                            .works__item-title Мероприятие 2
                            .works__item-content
                                .works__item-content-images
                                    +img('works-1.jpg')
                                .works__item-content-text
                                    ul.custom-list
                                        li <span>74</span> круглых столов со стульями
                                        li <span>5</span> палаток с едой
                                    p Лето 2022 года было богато на свадьбы. За период с 20 мая по 20 сентября в Москве прошло 38 свадеб, в которых наша компания непосредственно принимала участие.
                                        | Из года в год их организация становится все креативнее и требовательнее по запросам к организации. Особенно популярным вариантом празднования свадеб и регистраций стал вариант их проведения на открытом воздухе среди природы. К счастью, ассортимент нашей компании позволяет соответствовать всем запросам клиентов и на каждую свадьбу, от маленькой до большой, у нас есть оборудование.
                                    a(href='javascript:void(0)').btn.btn--default Подробнее
                        .works__item.swiper-slide
                            .works__item-title Мероприятие 3
                            .works__item-content
                                .works__item-content-images
                                    +img('works-1.jpg')
                                .works__item-content-text
                                    ul.custom-list
                                        li <span>4</span> арочных шатра
                                        li <span>7</span> шатров пагода
                                    a(href='javascript:void(0)').btn.btn--default Подробнее

    section.feedback
        .container
            .feedback__inner
                .feedback__form
                    .feedback__title.section-title не нашли ответ на свой вопрос?
                    .feedback__subtitle Просто напишите свои данные и мы ответим вам очень быстро!
                    form
                        .feedback__input
                            input(placeholder='Имя' type='text').input
                        .feedback__input.phone-mask
                            input(placeholder='+7 (999)-999-99-99' type='text').input
                        .feedback__agree
                            label.checkbox
                                input(type='checkbox')
                                span
                            span Согласен с&nbsp;
                                a(href='javascript:void(0)').link политикой конфиденциальности сайта
                        .feedback__button
                            a(href='javascript:void(0)').btn.btn--default Оставить заявку
                .feedback__image
                    +img('feedback.jpg')

    include components/_seo
















            